#a, #d, #n {
    background-color: #303f9f;
}

#b, #c, #f, #g {
    background-color: #ffab91;
}

#i {
    background-color: #9e9e9e;
}

#j {
    background-color: #e0e0e0;
}

#k {
    background-color: #f06292;
}

#l {
    background-color: #bdbdbd;
}

#o {
    background-color: #3949ab;
}