#a, #b, #e, #f, #j, #k, #n {
    background-color: #fb8c00;
  }

  #i {
    background-color: #ffcc80;
  }
  
  #m {
    background-color: #e65100;
  }

  #d {
    background-color: #dd191d;
  }

  #h {
    background-color: #ffeb3b;
  }